@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0; 
    font-family: Proxima Nova, system-ui, sans-serif;
    overflow-x: hidden;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p, label {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  a {
    @apply hover:text-secondary;
  }

  .link {
    @apply underline text-primary hover:text-secondary visited:text-secondary
  }
  
  input {
    @apply w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
  }

  a {
    /* @apply  */
  }
  .nav-items {
    @apply block px-4 py-2 text-black border-gray-100 no-underline hover:bg-gray-100 hover:text-primary rounded-lg text-xl outline-offset-0;
  }

  .rounded-number {
    @apply flex w-8 h-8 text-lg md:w-16 md:h-16 mx-auto items-center justify-center md:text-2xl font-bold rounded-full bg-blue-50 text-secondary;
  }
}
