@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  html, body {
    margin: 0; 
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p, label {
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  .link {
    @apply underline text-primary hover:text-secondary visited:text-secondary
  }
  
  input {
    @apply w-full bg-gray-100 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out
  }

  .nav-items {
    @apply block px-4 py-2 text-black border-gray-100 no-underline hover:bg-gray-100 hover:text-primary rounded-lg text-xl outline-offset-0;
  }
}
